<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>后台管理系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/js/themes/default/easyui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/themes/icon.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/demo.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <script type="text/javascript" th:src="@{/frameworks/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/frameworks/jquery/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/frameworks/jquery/jquery-form.js}"></script>
    <script type="text/javascript" th:src="@{/frameworks/jquery/jquery.easyui.min.js}"></script>
</head>
<body>
<div class="login-box">
    <img th:src="@{/images/login.jpg}" width="100%" height="100%"></div>

    <form action="" method="post">
        <div class="login">
            <div class="login_page">
                <table>
                    <tr>
                        <td class="text">用户名</td>
                        <td class="input-box"><input type="text" id="name" value="" name="username" placeholder="请输入用户名" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text pwd-text">密码</td>
                        <td class="input-box"><input type="password" id="pwd"  name="password" value="" placeholder="请输入密码" />
                        </td>
                    </tr>

                    <tr>
                        <td class="text">验证码</td>
                        <td class="input-box"><input type="text" name="kaptchaCode" id="captcha"  value="" class="identifying" placeholder="请输入验证码" />
                            <div class="code-img">
                                <span><img class="kcaptcha-btn kcaptcha-img" src="/kaptcha.jpg" title="点击更换验证码"></span></div>
                        </td>
                    </tr>
                </table>
            </div>
            <p class="loginbut">
                <input type="submit" value="登录" id="submit_button"/>
                <input type="button" value="重置" />
            </p>
        </div>
    </form>

</div>
</body>
<script type="text/javascript">
    $(".kcaptcha-btn").click(function() {
        $(this).attr("src", '/kaptcha.jpg?'+new Date().getTime());
    });
</script>
</html>